.navbar {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  top: 0;
  z-index: 1000;
}

.nav-logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #007bff, #00bcd4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.nav-logo h1:hover{
  color: #007bff;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}


.nav-links a:hover {
  color: #007bff;
}




/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-actions {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }
}
